<div class="card card-custom">
  <ng-container *ngIf="isLoading$ | async">
    <app-splash-screen></app-splash-screen>
  </ng-container>
  <div class="card-header">
    <div class="card-title">
      Listado de Desplazamientos
    </div>
    <div class="card-toolbar">
      <button class="btn btn-sm btn-success mx-1" (click)="fetch()">
        <i class="fa fa-sync"></i>
      </button>
      <a class="btn btn-sm btn-primary" routerLink="/displacements/0">
        <i class="fa fa-plus"></i> Crear Desplazamiento
      </a>
    </div>
  </div>
  <div class="card-body">
    <app-grid [data]="displacements" [columns]="gridTiltes" [edit]="true" [delete]="true" (OnEdit)="edit($event)"
      (OnDelete)="delete($event)">
    </app-grid>
  </div>
</div>
